<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/main.css">
  <title>OpenCCTVDragon</title>
</head>
<body>
  <div class="intro-wrapper">
    <div class="intro">
      <h1>Welcome to OpenCCTVdragon</h1>
      <p>This is an experiment produced as part of a Hackathon at Cogapp.</p>
      <p>Using a combination of <a href="http://iiif.io/">IIIF</a> images, <a href="https://github.com/openseadragon/openseadragon/">OpenSeadragon</a> and WebSockets, it playfully explores what surveillance of visitor activity might look like in a scenario where up to 9 participants can browse a collection of zoomable images, whilst having their activity monitored in real time in a simulated "control room".</p>
      <p>To take part you can either become:</p>
      <ul>
        <li><a href="viewer">`A viewer`</a>. You can pan and zoom. Reload to view a different image. Click/tap the camera to open a control room</li>
        <li><a href="control-room">`An observer`</a>. You'll see the activity of up 9 viewers in real time in each CCTV monitor. You may only watch, the screens here are not interactive</li>
      </ul>
      <p>If no one else is participating you can also play this game by yourself by opening multiple tabs.</p>
      <p>A modern web browser is advised.</p>
      <p>If you want to find out more about this project, you can <a href=" https://blog.cogapp.com/">read more in the accompanying blog post</a> or <a href="https://github.com/superbland/opencctvdragon">view the source code on github</a></p>
      <p class="small">Images from the collection of the <a href="http://www.nationalmuseum.se/">Nationalmuseum</a>, Sweden<br />
      code by <a href="http://twitter.com/superbland">@superbland</a>, <a href="http://www.cogapp.com">Cogapp</a></p>
    </div>
  </div>
</body>
</html>